<form method="post" action="/create">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" id="filename" name="filename"/>
    <button type="submit">Create</button>
  </div>
</form>
<a href="/"><button>Cancel</button></a>