<form method="post" action="/users/signin">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="inline" value="<%= params[:username] %>"/>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="inline" />
  </div>
  <button type="submit">Sign In</button>
</form>