body {
  padding: 1em;
  font-family: sans-serif;
}

.flash_message {
  padding: 10px;
  background-color: palegoldenrod;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}